<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>This is my awesome SHOP</h1>
{% if user.is_authenticated %}
    <div><a href="{% url 'users:profile' %}">{{ user.username }}</a></div><br>
    <div><a href="{% url 'users:logout' %}">Logout</a></div>
{% else %}
    <div><a href="{% url 'users:login' %}">Login</a></div><br>
{% endif %}

</body>
</html>